<ion-view title="Browse all images">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content padding="true" class="has-header">
<div class='button-bar'>
  <button class="button button-dark" onclick="changeView(1)">
    1/r
  </button>
  <button class="button button-dark" onclick="changeView(2)">
    2/r
  </button>
  <button class="button button-dark" onclick="changeView(3)">
    3/r
  </button>
</div>
<br>
<ion-list>
<ion-item class="item col col-33" style="float:left; padding: 16px 16px 16px 16px;" ng-repeat="img in images" href="#/app/imgdetail/{{img.id}}">
 <img style="display:block; margin-left: auto; margin-right: auto; max-width: 90px; max-height: 90px;" ng-src="{{apiUrl+'/i/'+img.id}}"/>
 <hr/>
 <p style="text-align:center;">{{img.titre}}</p>
</ion-item>
</ion-list>
</br>
</ion-content>
</ion-view>
