<ion-view title="{{img.titre}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <img style='max-width: 100%' ng-src="{{apiUrl+'/i/'+img.id}}"/>
        </div>
        <div ng-controller="VoteController as voteCtrl">
            <div class="row">
              <div class="col balanced-bg balanced-border light" style="text-align:center; font-weight:bold;"><img src="img/Thumb-up-icon.png"/> {{vote.upvotes.length}}</div>
              <div class="col assertive-bg assertive-border light" style="text-align:center; font-weight:bold;"><img src="img/Thumb-down-icon.png"/> {{vote.downvotes.length}}</div>
            </div>
            <div id="voteBar" ng-show="!voteCtrl.hasVoted(img.votes) && isLogged()" class="button-bar">
                <button class="button button-balanced button-block" ng-click="voteCtrl.voteImg(img.id,1,vote)">
                    Vote +1
                </button>
                <button class="button button-assertive button-block" ng-click="voteCtrl.voteImg(img.id,-1,vote)">
                    Vote -1
                </button>
            </div>
            <div ng-show="voteCtrl.hasVoted(img.votes) && isLogged()" class="energized-bg energized-border light" style="text-align:center; font-weight:bold;">
                You already voted!
            </div>
        </div>
        <div>
            <ion-list>
                <ion-item ng-repeat="review in reviews">{{review.content}}
                <p>- {{review.user.pseudo}} @ {{review.createdAt | date:'dd MMM yyyy, HH:mm:ss'}}</p></ion-item>
            </ion-list>
            <form ng-show="isLogged()" name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(img, reviews)">
                <!--  Live Preview -->
                <ion-list>
                    <ion-item>{{reviewCtrl.review.content}}
                    <p>- {{reviewCtrl.review.user.pseudo}}</p></ion-item>
                </ion-list>
                <label class="item item-input">
                    <span class="input-label">Comment</span><textarea ng-model="reviewCtrl.review.content" placeholder="Nice joke :D"> </textarea>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Send comment</button>
                </label>
            </form>
        </div>
        <a ng-hide="isLogged()" ng-click="login()" class="button button-positive button-block">Log in to comment and vote</a>
    </ion-content>
</ion-view>