<ion-view title='{{img.title}}'>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <p>{{img}}</p>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <img ng-src="{{'http://twix.linuxw.info/i/'+img.id}}"/>
        </div>
        <a ng-click="login()" class="button button-positive button-block">Log in</a>
        <span style="color:green;">{{img.plus}}</span><span style="color:red; margin-left:20px;">{{img.moins}}</span>
        <div class="button-bar">
            <button class="button button-balanced button-block">
                <img src="img/Chuck-Norris.png" style='max-width: 30px'/>
            </button>
            <button class="button button-assertive button-block">
                <img src="img/Grumpy.png" style='max-width: 30px'/>
            </button>
        </div>
        <ion-list>
            <ion-item ng-repeat="review in img.reviews">{{review.body}}</ion-item>
        </ion-list>
        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(img)">
            <!--  Live Preview -->
            <ion-list>
                <ion-item>{{reviewCtrl.review.body}}</ion-item>
            </ion-list>
            <label class="item item-input">
                <span class="input-label">Comment</span><textarea ng-model="reviewCtrl.review.body" placeholder="Nice joke :D"> </textarea>
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Send comment</button>
            </label>
        </form>
    </ion-content>
</ion-view>