<ion-view title="My Images">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list>
        		<ion-item class="item-thumbnail-left" ng-repeat="img in imglist" href="#/app/imgdetail/{{img.id}}">
        		<img ng-src="{{'http://twix.linuxw.info/i/'+img.id}}"/>
        		<span>{{img.titre}}</span>
        	<p>Comments: 
        		<span>{{img.commentaires.length || 0}}</span>
        	</p>
        	<p>
        		Votes: {{img.votes.length || 0}}
        	</p>
      			</ion-item>
        </ion-list>
    </ion-content>
</ion-view>