<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sign up</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup()">Close</button>
    </div>
  </ion-header-bar>
    <ion-content class="has-header" scroll="false" padding="true">
        <form ng-submit="doSignup()">
            <ion-list>
                <label name="pseudo" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="pseudo" type="text" ng-model="signupData.pseudo"/>
                </label>
                <label name="password" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="password" type="password" ng-model="signupData.password"/>
                </label>
            </ion-list>
            <button class="button button-stable button-block" type="submit">Sign up</button>
        </form>
    </ion-content>
</ion-modal-view>