<ion-view title="Upload">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content padding="true" class="has-header">
<div class="ui-grid-a"> 
  <div class="button-bar">
    <button onclick='take_pic();' class="button button-balanced button-block">Take picture</button>
    <button onclick='album_pic();' class="button button-balanced button-block">Select picture</button>
  </div>
  <form>
    <label class="item item-input">
      <span class="input-label">Title</span>
      <input id='title' type="text" placeholder="lol"/>
    </label>
  </form>
  <button ng-click='doUpload();' class="button button-positive button-block">Send</button>
  <div class="result-block" style="max-width: 300px"></div>      
  <img id="cameraImage" src="" style="max-width: 100%"/>
</div>
</ion-content>
</ion-view>
